{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Robot control V2</title>
    <script src="{% static 'js/funciones_general.js' %}"></script>

    {% if debug_value %}
        <!-- Plugin datatables-->
        <link href="{% static 'css/style_dt_bs.css' %}" rel="stylesheet"/>
        <link href="{% static 'lib/admin-bs5/css/styles.css' %}" rel="stylesheet"/>
        <script src="{% static 'lib/fontawesome_v6.1.1/fontawesome_v6.1.1.js' %}" crossorigin="anonymous"></script>
        <!-- Plugin datatables-->
        <link rel="stylesheet" type="text/css"
              href="{% static 'lib/datatables_min/datatables.min.css' %}"/>
        <script type="text/javascript"
                src="{% static 'lib/datatables_min/datatables.min.js' %}"></script>
        <!-- Plugin SweetAlert 2-->
        <script src="{% static 'lib/sweetalert_2_min/sweetalert2.all.min.js' %}"></script>
        <!-- Plugin Bootstrap 5.1.3-->
        <script src="{% static 'lib/bootstrap_v5.1.3_min/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    {% else %}
        <!-- Plugin datatables-->
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
        <link href="{% static 'lib/admin-bs5/css/styles.css' %}" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Plugin datatables-->
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-html5-2.2.2/datatables.min.css"/>
        <script type="text/javascript"
                src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-html5-2.2.2/datatables.min.js"></script>
        <!-- Plugin SweetAlert 2-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
        <!-- Plugin Bootstrap 5.1.3-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
    {% endif %}
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html"><i class="fa-solid fa-robot fa-xl"></i>&nbsp;&nbsp;Robot Control</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
{#    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">#}
{#        <div class="input-group">#}
{#            <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..."#}
{#                   aria-describedby="btnNavbarSearch"/>#}
{#            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>#}
{#        </div>#}
{#    </form>#}
    <!-- Navbar-->
{#    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 text-end">#}
{#        <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"#}
{#               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>#}
{#            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">#}
{#                <li><a class="dropdown-item" href="#!">Settings</a></li>#}
{#                <li><a class="dropdown-item" href="#!">Activity Log</a></li>#}
{#                <li>#}
{#                    <hr class="dropdown-divider"/>#}
{#                </li>#}
{#                <li><a class="dropdown-item" href="#!">Logout</a></li>#}
{#            </ul>#}
{#        </li>#}
{#    </ul>#}
</nav>
<div id="layoutSidenav">

    {% include 'navbar_base.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-3 mb-3">{{ title }}</h1>
                {#                <ol class="breadcrumb mb-4">#}
                {#                    <li class="breadcrumb-item active">Dashboard</li>#}
                {#                </ol>#}
                {% block contenido %}

                {% endblock %}
            </div>
            {% csrf_token %}
        </main>
        {% include 'footer_base.html' %}
    </div>
</div>
<script src="{% static 'lib/admin-bs5/js/scripts.js' %}"></script>
{% if debug_value %}
    <script src="{% static 'js/complementos_bs/Chart.min_bs.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/complementos_bs/simple-datatables@latest.js' %}" crossorigin="anonymous"></script>
{% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
{% endif %}

{% block scripts %}

{% endblock %}
</body>
</html>
