<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Opciones</div>
                <a class="nav-link {{ dashboard }}" href="{% url 'control_remoto:control_remoto' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt fa-xl"></i></div>
                    Control Remoto
                </a>
                <a class="nav-link {{ ajuste_pid }}" href="{% url 'control_remoto:ajuste_pid' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders fa-xl"></i></div>
                    Ajuste PID
                </a>
                <a class="nav-link {{ nav_robot }}" href="{% url 'control_remoto:nav_robot' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-car-on fa-xl"></i></div>
                    Navegar Entorno
                </a>
{#                <div class="sb-sidenav-menu-heading">Interface</div>#}
{#                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"#}
{#                   aria-expanded="false" aria-controls="collapseLayouts">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>#}
{#                    Layouts#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"#}
{#                     data-bs-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav">#}
{#                        <a class="nav-link" href="layout-static.html">Static Navigation</a>#}
{#                        <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>#}
{#                    </nav>#}
{#                </div>#}
{#                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"#}
{#                   aria-expanded="false" aria-controls="collapsePages">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>#}
{#                    Pages#}
{#                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                </a>#}
{#                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"#}
{#                     data-bs-parent="#sidenavAccordion">#}
{#                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">#}
{#                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"#}
{#                           data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">#}
{#                            Authentication#}
{#                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                        </a>#}
{#                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"#}
{#                             data-bs-parent="#sidenavAccordionPages">#}
{#                            <nav class="sb-sidenav-menu-nested nav">#}
{#                                <a class="nav-link" href="login.html">Login</a>#}
{#                                <a class="nav-link" href="register.html">Register</a>#}
{#                                <a class="nav-link" href="password.html">Forgot Password</a>#}
{#                            </nav>#}
{#                        </div>#}
{#                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"#}
{#                           data-bs-target="#pagesCollapseError" aria-expanded="false"#}
{#                           aria-controls="pagesCollapseError">#}
{#                            Error#}
{#                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#                        </a>#}
{#                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"#}
{#                             data-bs-parent="#sidenavAccordionPages">#}
{#                            <nav class="sb-sidenav-menu-nested nav">#}
{#                                <a class="nav-link" href="401.html">401 Page</a>#}
{#                                <a class="nav-link" href="404.html">404 Page</a>#}
{#                                <a class="nav-link" href="500.html">500 Page</a>#}
{#                            </nav>#}
{#                        </div>#}
{#                    </nav>#}
{#                </div>#}
{#                <div class="sb-sidenav-menu-heading">Addons</div>#}
{#                <a class="nav-link" href="charts.html">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>#}
{#                    Charts#}
{#                </a>#}
{#                <a class="nav-link" href="tables.html">#}
{#                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>#}
{#                    Tables#}
{#                </a>#}
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Conectado como:</div>
            {{ request.user.username }}
        </div>
    </nav>
</div>