{% extends 'body_base.html' %}
{% load static %}

{% block contenido %}

    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4 border-1 border-secondary">
                    <div class="card-header">
                        <i class="fa-solid fa-lg fa-angles-up"></i>&nbsp;
                        Parámetros test
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <form id="form_test">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Tipo de test:</label>
                                        <select class="form-select" aria-label="Default select example" name="msg">
                                            <option selected value="">Seleccione</option>
                                            <option value="tst_avanzar">Avance</option>
                                            <option value="tst_retroceder">Retroceso</option>
                                            <option value="tst_giro_izq">Giro izquierda</option>
                                            <option value="tst_giro_der">Giro derecha</option>
                                        </select>
                                        <div id="pwmHelp_1" class="form-text">Aplicado a 10 bits.
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Nivel PWM</label>
                                        <select class="form-select" aria-label="Default select example"
                                                name="select_pwm">
                                            <option selected value="">Seleccione</option>
                                            <option value="100">100 %</option>
                                            <option value="75">75 %</option>
                                            <option value="50">50 %</option>
                                            <option value="25">25 %</option>
                                        </select>
                                        <div id="pwmHelp_1" class="form-text">Aplicado a 10 bits.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="tiempo_captura_1" class="form-label">Tiempo de captura</label>
                                        <input type="number" class="form-control" name="tiempo_captura"
                                               id="tiempo_captura_1" placeholder="1000">
                                        <div id="tiempoHelp_1" class="form-text">En milisegundos.
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3 form-check my-sm-auto text-center">
                                        <button type="button" id="btn_test" class="btn btn-primary">Iniciar captura
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4 border-1 border-secondary">
                    <div class="card-header">
                        <i class="fa-solid fa-flask-vial"></i>&nbsp;
                        Pruebas realizadas
                    </div>
                    <div class="card-body">
                        <table class="table" id="tabla_lista_pid">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Tipo</th>
                                <th>Duración</th>
                                <th>Fecha</th>
                                <th>Opc.</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button onclick="borrar_test(0, false)" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Borrar todos
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4 border-1 border-secondary">
                    <div class="card-header">
                        <i class="fa-solid fa-gears"></i>&nbsp;
                        Parámetros Kp | Ki | Kd
                    </div>
                    <div class="card-body">
                        <form id="form_global_pr">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <label class="form-label fw-bold" for="ks_avance">Parámetros Avance:</label>
                                    <select class="form-select" id="ks_avance" name="ks_avance">
                                        {#                                    <option selected value="">Seleccione</option>#}
                                    </select>
                                </div>
                                <div class="row mb-2">
                                    <label class="form-label fw-bold" for="ks_retroceso">Parámetros Retroceso:</label>
                                    <select class="form-select" id="ks_retroceso" name="ks_retroceso">
                                        {#                                    <option selected value="">Seleccione</option>#}
                                    </select>
                                </div>
                                <div class="row mb-2">
                                    <label class="form-label fw-bold" for="ks_giro_izq">Parámetros Giro Izq.:</label>
                                    <select class="form-select" id="ks_giro_izq" name="ks_giro_izq">
                                        {#                                    <option selected value="">Seleccione</option>#}
                                    </select>
                                </div>
                                <div class="row mb-2">
                                    <label class="form-label fw-bold" for="ks_giro_der">Parámetros Giro Der.:</label>
                                    <select class="form-select" id="ks_giro_der" name="ks_giro_der">
                                        {#                                    <option selected value="">Seleccione</option>#}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btn_global_pr" class="btn btn-success">
                            <i class="fa-regular fa-floppy-disk"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_test_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <span>
                        <span class="modal-title h5 text-primary" id="modal_title_1"></span>
                        <span class="modal-title h5 text-success" id="modal_title_2"></span>
                        <span class="modal-title h5 text-danger" id="modal_title_3"></span>
                        <span class="modal-title h5" id="pos_rueda_span"></span>
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 text-center h5">
                        <math>
                            <mrow>
                                <mrow>
                                    <mi>y</mi>
                                    <mi>(t)</mi>
                                </mrow>
                                <mo>=</mo>
                                <mi>K</mi>
                                <mi>&#8710;</mi>
                                <mi>u</mi>
                                <mi>(</mi>
                                <mi>1</mi>
                                <mo>-</mo>
                                <msup>
                                    <mi>e</mi>
                                    <mn>
                                        <mi>(</mi>
                                        <mi>-</mi>
                                        <mi>t</mi>
                                        <mi>/</mi>
                                        <mi>&tau;</mi>
                                        <mi>)</mi>
                                    </mn>
                                </msup>
                                <mi>)</mi>
                            </mrow>
                        </math>
                    </div>
                    <div class="row mb-3 text-center">
                        <math>
                            <mrow>
                                <mrow>
                                    <mi>K</mi>
                                    <mi>&#8710;</mi>
                                    <mi>u</mi>
                                    <mo>=</mo>
                                    <mi id="kdu" class="fw-bold"></mi>
                                    <mi class="h4">&nbsp; | &nbsp;</mi>
                                    <mi>&tau;</mi>
                                    <mo>=</mo>
                                    <mi id="tau_val" class="fw-bold"></mi>
                                </mrow>
                                <mrow></mrow>
                            </mrow>
                        </math>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <span>Código matlab: </span>
                        </div>
                        <div class="col-9">
                            <i class="h5 text-center" id="code_func"></i>
                        </div>
                    </div>
                    <hr>
                    <form id="form_k_pid">
                        <input type="hidden" id="last_test" name="info_test">
                        <div class="row mb-3">
                            <span class="h5">Parámetros PID</span>
                            <div class="col-3">
                                <label for="kp_val" class="form-label">Kp</label>
                                <input type="number" class="form-control" id="kp_val" name="kp_val">
                            </div>
                            <div class="col-3">
                                <label for="ki_val" class="form-label">Ki</label>
                                <input type="number" class="form-control" id="ki_val" name="ki_val">
                            </div>
                            <div class="col-3">
                                <label for="kd_val" class="form-label">Kd</label>
                                <input type="number" class="form-control" id="kd_val" name="kd_val">
                            </div>
                            <div class="col-3 text-center my-auto">
                                <button type="button" id="k_pid_btn" class="btn btn-success">
                                    <i class="fa-regular fa-floppy-disk"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <table id="tabla_info_test" class="table" width="100%"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'control_remoto/js/ajuste_pid.js' %}"></script>

    <script>
        (function () {
            lista_ajustes_disponibles();
        })();
    </script>

{% endblock %}