{% extends 'base_body.html' %}
{% load static %}

{% block content %}

    <section class="py-5 text-center container">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_1">Sensor 1 </span>
                    </div>
                    <div class="col">
                        //////\\\\\\
                    </div>
                    <div class="col">
                        <span id="sensor_5">Sensor 5 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id="sensor_2">Sensor 2 </span>
                    </div>
                    <div class="col">
                        <button class="btn btn-info" onclick="direction_button('adelante')"><i class="fas fa-arrow-up"></i> Adelante</button>
                    </div>
                    <div class="col">
                        <span id="sensor_6">Sensor 6 </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-info" onclick="direction_button('izquierda')"><i class="fas fa-arrow-left"></i> Izquierda</button>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <button class="btn btn-info" onclick="direction_button('derecha')">Derecha <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id="sensor_3">Sensor 3 </span>
                    </div>
                    <div class="col">
                        <button class="btn btn-info" onclick="direction_button('retroceso')"><i class="fas fa-arrow-down"></i> Retroceso</button>
                    </div>
                    <div class="col">
                        <span id="sensor_7">Sensor 7 </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_4">Sensor 4 </span>
                    </div>
                    <div class="col">
                        \\\\\\//////
                    </div>
                    <div class="col">
                        <span id="sensor_8">Sensor 8 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>

        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
    </section>


{% endblock %}

{% block scripts_js %}

    <script src="{% static 'js/control_remoto.js' %}"></script>

{% endblock %}