{% extends 'body_base.html' %}
{% load static %}

{% block contenido %}

    <section class="py-5 text-center container">
        <div class="container-fluid">
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_1">Sensor 1 </span>
                    </div>
                    <div class="col">
                        &nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_5">Sensor 5 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_2">Sensor 2 </span>
                    </div>
                    <div class="col">
                        <button class="btn btn-info" id="btn_up"><i class="fas fa-arrow-up fa-2xl"></i> Adelante</button>
                    </div>
                    <div class="col">
                        <span id="sensor_6">Sensor 6 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <button class="btn btn-info" id="btn_left"><i class="fas fa-arrow-left fa-2xl"></i> Izquierda</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" id="btn_stop_rb"><i class="fa-solid fa-hand fa-2xl"></i> Detener</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-info" id="btn_right">Derecha <i class="fas fa-arrow-right fa-2xl"></i></button>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_3">Sensor 3 </span>
                    </div>
                    <div class="col">
                        <button class="btn btn-info" id="btn_down"><i class="fas fa-arrow-down fa-2xl"></i> Retroceso</button>
                    </div>
                    <div class="col">
                        <span id="sensor_7">Sensor 7 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_4">Sensor 4 </span>
                    </div>
                    <div class="col">
                        &nbsp;
                    </div>
                    <div class="col">
                        <span id="sensor_8">Sensor 8 </span>
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col">
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>

        </div>
        <form id="token_form">
            {% csrf_token %}
        </form>
    <div class="container-fluid text-start">
        <button class="btn btn-success mb-2" id="btn_start">Ver info sensores</button>
        <br>
        <button class="btn btn-warning mb-2" id="btn_stop">Detener info sensores</button>&nbsp;&nbsp;
        <button class="btn btn-warning mb-2" id="btn_reload_rb"><i class="fa-solid fa-rotate fa-xl"></i> Recargar C.R.</button>
        <br>
        <button class="btn btn-primary" id="btn_check">Check cache</button>
    </div>
    </section>

{% endblock %}

{% block scripts %}

    <script src="{% static 'control_remoto/js/control_remoto.js' %}"></script>

{% endblock %}