{% extends 'body_base.html' %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-3">
                <button class="btn btn-success" id="info_sensores">
                    Info sensores
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" id="giro_45">
                    Giro 45
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary" id="giro_90">
                    Giro 90
                </button>

            </div>
            <div class="col-3">
                <button class="btn btn-secondary" id="giro_180">
                    Giro 180
                </button>
            </div>
        </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-secondary" id="giro_270">
                Giro 270
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-secondary" id="giro_360">
                Giro 360
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" id="stop_while">
                Stop
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" id="nav_robot">
                Nav robot
            </button>
        </div>
    </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'control_remoto/js/nav_robot.js' %}"></script>

{% endblock %}